<div fxLayout="column">
    <div>
        <h1>Buscador de Heroes</h1>
        <mat-divider></mat-divider>
    </div>
    <div fxLayout="column">
        <h3>Buscador</h3>

        <mat-form-field>
            <mat-label>Buscador</mat-label>
            <input type="text"
                   placeholder="Buscar heroe..."
                   aria-label="Buscar heroe"
                   matInput     
                   [(ngModel)]="termino"              
                   [matAutocomplete]="auto"
                   (input)="buscando()">
            <mat-autocomplete #auto="matAutocomplete"
                             (optionSelected)="opcionSelecionada( $event)">
                <div *ngIf="heroes.length !=0; else elseBlock">
                    <mat-option *ngFor="let heroe of heroes" [value]="heroe">
                         {{heroe.superhero}}
                    </mat-option>
                </div>
                <ng-template #elseBlock>
                    <mat-option value="">
                        No se encontro nada con el termino {{termino}}
                   </mat-option>
                </ng-template>
                
             
            </mat-autocomplete>
          </mat-form-field>
    </div>
    <div>
        <pre> {{heroeSeleccionado |json}} </pre>
    </div>
    <div *ngIf="heroeSeleccionado">
        <app-heroe-tarjeta [heroe] = "heroeSeleccionado"></app-heroe-tarjeta>

    </div>
</div>

